*{
  font-family: "Lucida Console", Monaco, monospace;
  background: mintcream;
}


.App-header, .link-box, #tracking-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  font-size: 18px;
}

.demo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 22px;
  font-weight: lighter;
}

p {
  margin: 30px;
}
.centered-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.credentials-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  width: 75px;
  margin-right: 10px;
}
a:visited {
  color: rgba(0, 47, 255, 0.973);
}
input:focus {
  background: rgb(2, 138, 2, 0.3);
}
input { 
  background: white;
  border-radius: 2px;
  height: 30px;
}
button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
}
@media screen and (min-width: 700px){
  #tracking-metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%
  }
}

