*{
  font-family: "Lucida Console", Monaco, monospace;
  background: moccasin;
}


.App-header, .link-box, #tracking-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 150px;
  font-size: 18px;
}

.demo-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 22px;
  font-weight: lighter;
}

p {
  margin: 30px;
}
.centered-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.credentials-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
label {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  font-size: 18px;
  padding-right:15px;
  text-align: right;
}
.metrics-labels {
  text-align: right;
}
a:visited {
  color: rgba(2, 66, 39, 0.694);
}
textarea {
  height: 112px;
  width: 90%;
  background: white;
  margin-left: 5%;
}
input:focus {
  background: rgb(2, 138, 2, 0.3);
  outline: white;
}
input { 
  background: white;
  border-radius: 2px;
  height: 30px;
  width: 230px;
}
.input-label {
  display: inline-block;
  margin-bottom: 8px;
  width: 500px;
}
button {
  width: 75px;
  height: 30px;
  border-radius: 2px;
  color: white;
  background: rgb(1, 46, 27)
}
.fa{
  font-size: 200%;
}
#fa-search {
  font-size: 170%
}
#date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 280px;
  height: 30px;
  margin-top: 10px;
}
#date-element {
  margin-top: 0px;
}
#tracking-submit {
  background: none;
  border: none;
  padding: none;
  color: black;
}
@media screen and (min-width: 700px){
  #tracking-metrics {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%
  }
  .fitness-container {
    width: 30%;
  }
  .metrics-labels {
    text-align: left;
  }
  textarea {
    width: 198%;
    margin-top: 5px;
    margin-left: 1%;
  }
  input {
    width: 90%;
  }
  #diary-label {
    padding-top: 35px;
  }
}

